@model MVC1.Controllers.HWController.A
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>M</title>
</head>
<body>
    <div> 
        @@Model.Sum = @Model.Sum;
    </div>
</body>
</html>
