@{
    ViewData["Title"] = "One";
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Views/Home/One.html</h1>
</body>
</html>