@{
    ViewData["Title"] = "square";
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>square</title>
</head>
<body>
    <h1>Result: @ViewBag.Result</h1>
</body>
</html>

