@{ 
    ViewData["Title"] = "ViewData. Hello from Natasha";
    ViewBag.Tit = "ViewBag. Hello from Natasha";
}
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <h2>Home/V1/Any</h2>
    <h3>@ViewData["Title"]</h3>
    <h3>@ViewData["Message"]</h3>
    <h3></h3>
    <h3>@ViewBag.Mess</h3>
    <h3>@ViewBag.Tit</h3>
</body>
</html>