@model WebApplication1.Controllers.HomeController.A
@{
    int x = Model.x;
    int y = Model.y;
}
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <h2>Home/Any3</h2>
    <h3>Model</h3>
    <p>x1 = @Model.x</p>
    <p>y2 = @Model.y</p>
    <p>@(x + y)</p>
</body>
</html>