<html>
<head>
    <title>Компоновка</title>
</head>
<body>
    <h1>Компоновка</h1>

    <p>
        Компоновка - представление, которое применяется для маркетирования страниц.
        Подключение компоновки к представлению осуществляется с помощью
        свойства Layout представления
    </p>

</body>
</html>