@{
    Layout = "~/Views/Home/One.cshtml"; //расположение компоновки
}
<p style="color:darkred">
    В Н Е   С Е К Ц И И - 1
</p>

@section head{
    <p style="color:red">
        С Е К Ц И Я - H E A D
    </p>
}

@section main{
    <p style="color:orangered">
        С Е К Ц И Я - MAIN
    </p>
}

<p style="color:palevioletred">
    В Н Е - С Е К Ц И И 
</p>

@section foot{
    <p style="color:mediumvioletred">
        С Е К Ц И Я - F O O T
    </p>
}